@charset "utf-8";

h1 {
  text-align: center;
  color: white;
}
body {
  background-color: #292929;
}
div {
  display: flex;
  justify-content: center;
}
img {
  margin: 5px;
}
iframe {
  display: block;
  margin: auto;
}
#complet {
  display: block;
  text-align: center;
}
/* a#complet {
  display: block;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
} */
/* img#pa{
  display: inline-block;
} */
